{% block _alert_bar_widget %}
    <div class="alert-bar hidden"
         data-js="alertBar"
         data-page-component-module="aligentannouncement/js/alert-bar"
         data-display-status="{{ displayStatus }}"
         style="background-color: {{ backgroundColor }}"
    >
        <div class="page-area-container">
            <div class="alert-bar__content" data-js="alertContent"
                 style="color: {{ textColor }}">
                {{ block_widget(block) }}
            </div>
        </div>
        <div class="alert-bar__close">
            <button class="btn btn--link btn--alert-bar-close"
                    data-js="closeAlert"
                    style="color: {{ textColor }}"
            >
                <span class="fa fa-close"></span>
            </button>
        </div>
    </div>
{% endblock %}
